body{
    margin: 0;
    padding: 0;
	font-family: Arial, sans-serif;
}
img {
	max-width: 100%;
	height: auto;
}

.header, .about, .content, .footer {
	max-width: 880px;
	margin: 0 auto;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
a {
	text-decoration: none;
}
.wrapper {
	max-width: 950px;
	background-color: white;
	margin: 0 auto;
	margin-top: 70px;
}

.header {
	background-color: white;
	min-height: 105px;
	border-bottom: 1px solid grey;
	
	overflow: hidden;
	padding-bottom: -20px;
}
.header .logo {
	padding-top: 25px;
	float: left;
	/*padding-left: 35px;*/
}
.header .top {
	float: right;
	padding-top: 40px;
}
.header .top .menu-toggle {
	cursor: pointer;
	display: none;
	font-size: 17px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.header .top a{
	text-decoration: none;
	padding-right: 30px;
	color: #979b9d;
}
.header .top a:first-child {
	color: #a67a4e;
}
.about {
	background-color: #fff;
	min-height: 85px;
	border-bottom: 1px solid grey;
	line-height: 2;
	box-sizing: border-box;
	padding: 20px 0;
	color: #b8b8b8;
}

.about a{
	color: #a67a4e;
}
.content {
	background: white;
	color: #0a3210;
	border-bottom: 1px solid grey;
	
}
.content .main {
	width: 68%;
	padding: 7px;
	float: left;
	margin: 15px -10px;
	box-sizing: border-box;
	clear: both;
}
.content .main .mainer {
	display: inline-block;
	width: 43%;
	padding: 10px;
	box-sizing: border-box;
}
.content .main .mainer img {
	border: 2px solid rgba(0, 0, 0, 0.3);
	/*box-sizing: border-box;*/
}

.main a {
	color: #939393;
}
.main p{
	color: #bdbdbd;
}
.content .btn a{
	color: #fff;
	background: #939393;
	border-radius: 5%;
	width: 97px;
	height: 31px;
	float: right;
	text-align: center;
	
	margin-right: 3%;
	vertical-align: middle;
	padding-top: 5px;
	box-sizing: border-box;
	overflow: hidden;
}
.content .sidebar {
	overflow: hidden;
	margin: 0;
}
.content .sidebar .follow {
	background-color: #f3f2f2;
	margin-top: 25px;
	/*border: 1px solid #eeeeee;*/
	border-radius: 2%;
	/*min-width: 225px;*/
	font-size: 9pt;
	margin-right: 50px;
	line-height: 2;
	padding: 20px;
	color: #979b9d;
	position: relative;
}
.content .sidebar .follow .corner {
	position: absolute;
	bottom: -20px;
	right: 40px;
	width: 0;
	border-top: 20px solid #f3f2f2; 
	border-left: 25px solid transparent;
	
}
.content .sidebar .follow a {
	color: #979b9d;
}
.content .sidebar .followus {
	color: #979b9d;
	font-size: 9pt;
	text-align: right;
	/*margin-right: 35px;*/
	
}
.content .sidebar .followus img {
	margin-top: 10px;
	
}
.content .sidebar .nav p{
	color: #404040;
}
.content .sidebar .nav  a{
	display: block;
	color: #939393;
	font-size: 10pt;
	border-bottom: 1px solid #979b9d;
	padding: 7px 0;
	width: 97%;
	padding-left: 5px;
}
.content .sidebar .nav .first {
	border-top: 1px solid #979b9d;
}
.content .sidebar  .nav a:hover{
	background-color: #fbfbfb;
}
.content .sidebar .contact p {
	font-size: 10pt;
	color: #939393;
}
.content .sidebar .contact .second {
	color: #404040;
	font-size: 12pt;
}
.content .sidebar .contact a {
	color: #939393;
}

.footer {
	background-color: white; 
	clear: both;
	min-height: 85px;
	/*display: block;*/
	font-size: 9pt;
	color: #939393;
}
.footer p{
	float: left;
	padding: 20px 20px 10px 0;
	
}
.footer .social {
	overflow: hidden;
}
.footer .social img {
	padding-top: 20px;
	padding-right: 15px;
}
.footer .twit {
	float: right;
	margin-right: 25px;
	
}
.footer .flir {
	float: left;
}
.cover {
	background-image: url(../img/wood.jpg);
	margin: 0 auto;
	max-width: 1180px;
	margin-top: 0;
	min-height: 1040px;
	overflow: hidden;
}
@media screen and (max-width: 768px){
	.header, .about, .content, .footer {
		max-width: 98%;
	}
	.wrapper {
		max-width: 98%;
		margin-top: 1%;
		margin-bottom: 1%;
	}
	.header .logo {
		float: none;
		text-align: center;
		vertical-align: middle;
	}
	.header .top {
	float: none;
	padding-top: 20px;
	text-align: center;
}
	.header .top a{
		text-decoration: none;
		display: inline-block;
		padding-bottom: 10px;
			
	}
	.about {
		text-align: center;
	}
	
	.content .main {
		float: none;
		clear: both;
		width: 100%;
		margin: 10px auto;
	}
	.content .main .mainer {
		vertical-align: top;
		margin-left: 30px;
		
	}
	.content .main .mainer img {
		width: 200%;
	}
	.content .btn a{
		position: relative;
		right: 30%;
	}
	.content .sidebar .follow {
		display: none;
	}
	.content .sidebar .followus {
		display: none;
	}
	.content .sidebar .nav  a {
		width: 50%;
	}
	.footer  {
		float: none;
		display: block;
		margin-top: 0;
		overflow: hidden;
		
	}
	.footer .social p{
		display: none;
	}
	
	.footer p {
		float: none;
		text-align: center;
		margin-top: -5px;
	}
	.footer .twit, .footer .flir {
		float: none;
		display: inline;
		text-align: center;
	}
	.footer .social {
		padding-left: 45%;
		margin-top: -30px;
		margin-bottom: 10px;
	}
	
}
@media screen and (max-width: 420px) {
	.header .top .menu-toggle{
		display: block;
		color: #979b9d;
	}
	.header .logo {
		margin-top: -10px;
	}
	.header .top{
		margin-top: -20px;
	}
	.header .home {
		display: none;
		overflow: hidden;
		position: absolute;
		top: 70px;
		right: 8%;
		background-color: #d9dbe2;
		opacity: 0.85;
		padding: 100px auto;
		border-radius: 3%;
	}
	.header .home a{
		display: block;
		padding: 10px 30px;
		text-align: center;
		color: #404040;
	}
	
	.content .main .mainer p{
		display: none;
	}
	.content .main .mainer {
		width: 120%;
		margin: 0 auto;
	}
	.content .main .mainer a {
		display: block;
		
	}
	.content .main .mainer img {
		width: 86%;
		margin-left: -2.5%;
	}
	
	.content .btn a {
		display: none;
	}
	.wrapper {
		width: 98%;
		margin-top: 1%;
	}
	.content .navig {
		cursor: pointer;
	}
	.content .sidebar  .nav .cont {
		display: none;
		overflow: hidden;
	}
	.content .sidebar  .nav .cont a{
		display: block;
		
	}
	.footer  {
		display: block;
		padding-bottom: 30px;
	}
	.footer .social {
		padding-left: 36%;
		margin-top: -30px;
		margin-bottom: -20px;
	}
}